<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/hscho96user.jpg"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden"> Hello, I'm HyoSeung Cho</h4>
  </div>
  <div class="user-content">
    <p>
      I'm planning to run this git-blog for improving my pragramming knowledge including algorithm, datastructure, etc.
    </p>
    <p>
      Majoring in Computer Science in CSUF.
    </p>
  </div>
</div>
